.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 90px;
}
.header__menu {
  display: flex;
}
.menu {
  font-size: 18px;
  line-height: 1;
}
.header__list {
  list-style: circle;
  display: flex;
  gap: 32px;
}

.header__links-list-item_no-bullit::marker {
  content: none;
}

.header__link_active {
  text-decoration: none;
}
.header__logo {
  display: block;
  width: 150px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  line-height: 24px;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  margin-bottom: 180px;
  color: #fff;
  padding: 165px 50px 50px 50px;
  height: 757px;
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0.6;
  background-color: #000;
}

.cover__content {
  position: relative;
}

.cover__title {
  font-size: 100px;
  height: 380px;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.3em;
  margin-bottom: 106px;
}
.cover__first-title {
  align-self: start;
  justify-self: start;
}
.cover__second-title {
  align-self: center;
  justify-self: center;
}
.cover__third-title {
  align-self: end;
  justify-self: end;
}

.description {
  display: flex;
  justify-content: space-between;
}
.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
  align-self: center;
  white-space: nowrap;
}
.bet-button {
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  padding: 15px 32px;
  white-space: nowrap;
}
.lots {
  padding: 0 24px;
  margin-bottom: 120px;
}
.lots__title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 28px;
  margin-left: 40px;
  text-transform: uppercase;
}
.lots__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 35px;
}
.lots__list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
}
.card_type_film {
  background-image: url("/images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lots__card {
  padding: 48px 40px;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__link {
  flex: 1;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  z-index: 1;
}
.card_type_book {
  background-image: url("/images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card_type_picture {
  background-image: url("/images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lots__look-more-link {
  font-size: 20px;
  line-height: 1;
  margin-left: 40px;
}
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  margin-bottom: 190px;
  padding-left: 24px;
  padding-right: 24px;
}

.about__logo-container {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  justify-self: center;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 60%;
}
.about__text {
  padding-top: 138px;
  padding-left: 25px;
}
.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 102px;
}

.about__description {
  font-size: 20px;
  line-height: 24px;
}

.about__description:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
  align-items: flex-start;
  height: 180px;
}
.footer__address {
  font-size: 18px;
  line-height: 24px;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 240px;
  justify-self: flex-end;
}

.socials__item {
  border: 1px solid #000;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.socials__link {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.socials__item:first-child .socials__link {
  background-image: url("/images/yt.svg");
}

.socials__item:nth-child(2) .socials__link {
  background-image: url("/images/vk.svg");
}

.socials__item:last-child .socials__link {
  background-image: url("/images/pinterest.svg");
}
